*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button,
input[type='submit'],
input[type='reset'],
input[type='search'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
