.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: black;
    height: 100vh;

    &__container {
        display: flex;
        align-items: flex-start;
        width: 80%;
    }

    &__calendar {
        margin-top: 5rem; 
        width: 80%;
    }

    &__nav-tab {
        display: flex;
        width: 62%;
        justify-content: flex-start;
        margin-top: 10rem;

        &__btn {
            margin-left: 5rem;
            background-color: rgba(240, 51, 51, 0.884);
            border-radius: 5px;
            border: 1px solid rgba(226, 226, 226, 0.445);
            padding: 2px;
            transition: all .2s;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }
    }
}

.seperator {
    position: absolute;
    top: 14rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-image: radial-gradient(
            circle,
            rgba(210, 208, 208, 0.5) 70%,
            rgba(210, 208, 208, 0) 90%
            );
}