.reviews {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130vh;

    &__review {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 8rem;
        width: 60%;
    }
}