.create-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 40%;

    &__span {
        margin-right: 1rem;
    }

    &__name {
        height: 2rem;
    }

    &__date {
        height: 2rem;
        cursor: pointer;
    }

    &__button {
        background-color: green;
        border-radius: 5px;
        padding: 2px;
        transition: all .2s;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
        }
    }
}