.del-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 40%;
    margin-top: 12rem;
    margin-right: 2rem;
    background-color: rgba(226, 226, 226, 0.445);

    &__button {
        background-color: green;
        border-radius: 5px;
        padding: 2px;
        transition: all .2s;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
        }
    }
}