.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(13, 133, 13);

    &__contact-info {
        width: 60%;
        margin-top: 2rem;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    &__legal {
        width: 90%;
    }

    &__social {
        width: 10%;

        &__links {
            &__list {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}